---
layout: layouts/base.liquid
---
<h1 class="mb-2 text-2xl font-bold">{{title}}</h1>
{% if subtitle %}
	<h2 class="mb-2 text-xl font-bold">{{subtitle}}</h2>
{% endif %}
<div class="mb-8">
	{% include partials/tags  %}
</div>
<div class="flex">
	<div class="mr-8 w-96">
		<div>
				{% if image %}
					<img src="/games/{{image}}" />
				{% else %}
					<div class="w-64 h-64 bg-gray-200">&nbsp;</div>
				{% endif %}
			</div>
			<table class="mt-4 table-auto">
				{% for info in infobox %}
					<tr>
						<th class="pr-2 text-left">{{info.label}}:</th>
						<td>{{info.value}}</td>
					</tr>
				{% endfor %}
				{% if physical_copy %}
					<tr>
						<th>Physical Copy</th>
						<td>Yes</td>
					</tr>
				{% endif%}
				{% if rpggeek %}
					<tr>
						<th class="pr-2 text-left">RPG Geek ID:</th>
						<td><a href="https://rpggeek.com/rpg/{{rpggeek}}" class="text-blue-600">{{rpggeek}}</a></td>
					</tr>
				{% endif %}
				{% if wikidata %}
					<tr>
						<th class="pr-2 text-left">Wikidata item:</th>
						<td><a href="https://www.wikidata.org/wiki/{{wikidata}}" class="text-blue-600">{{wikidata}}</a></td>
					</tr>
				{% endif %}
			</table>
		</div>
	<div class="prose">
			{{ content }}
	</div>
</div>
{% if gameFiles.length > 0 %}
	<h3 class="mt-4 font-bold">Files</h3>
	<ul class="list-disc list-inside">
		{% for gf in gameFiles %}
			<li>
				{{gf.name}}
			</li>
		{% endfor %}
	</ul>
{% endif %}
